Repository erigontech/silkworm, pull requests merged in 2023-03, with the labels that each got.

#900 Refactor transaction data type in database access layer
  cmd/check_changes.cpp
  cmd/check_pow.cpp
  cmd/common.cpp
  cmd/scan_txs.cpp
  cmd/toolbox.cpp
  silkworm/node/db/access_layer.cpp
  silkworm/node/db/access_layer.hpp
  silkworm/node/db/access_layer_test.cpp
  silkworm/node/db/buffer.hpp
  silkworm/node/db/buffer_test.cpp
  silkworm/node/db/genesis.cpp
  silkworm/node/db/genesis.hpp
  silkworm/node/db/genesis_test.cpp
  silkworm/node/db/stages.cpp
  silkworm/node/db/stages.hpp
  silkworm/node/db/tables.cpp
  silkworm/node/db/tables.hpp
  silkworm/node/snapshot/sync.cpp
  silkworm/node/stagedsync/_test.cpp
  silkworm/node/stagedsync/stage.cpp
  silkworm/node/stagedsync/stage.hpp
  silkworm/node/stagedsync/stage_blockhashes.cpp
  silkworm/node/stagedsync/stage_execution.cpp
  silkworm/node/stagedsync/stage_finish.cpp
  silkworm/node/stagedsync/stage_hashstate.cpp
  silkworm/node/stagedsync/stage_history_index.cpp
  silkworm/node/stagedsync/stage_history_index_test.cpp
  silkworm/node/stagedsync/stage_interhashes.cpp
  silkworm/node/stagedsync/stage_log_index.cpp
  silkworm/node/stagedsync/stage_senders.cpp
  silkworm/node/stagedsync/stage_tx_lookup.cpp
  silkworm/node/stagedsync/stage_tx_lookup_test.cpp
Labels: maintenance

#901 Rename db::Cursor as db::PooledCursor
  cmd/check_senders.cpp
  cmd/toolbox.cpp
  silkworm/node/backend/backend_kv_server_test.cpp
  silkworm/node/backend/ethereum_backend_test.cpp
  silkworm/node/backend/rpc/kv_calls.cpp
  silkworm/node/backend/rpc/kv_calls.hpp
  silkworm/node/backend/rpc/kv_calls_test.cpp
  silkworm/node/common/test_context.cpp
  silkworm/node/db/access_layer.cpp
  silkworm/node/db/access_layer_test.cpp
  silkworm/node/db/bitmap.cpp
  silkworm/node/db/bitmap_test.cpp
  silkworm/node/db/db_utils.cpp
  silkworm/node/db/db_utils_test.cpp
  silkworm/node/db/genesis_test.cpp
  silkworm/node/db/mdbx.cpp
  silkworm/node/db/mdbx.hpp
  silkworm/node/db/mdbx_test.cpp
  silkworm/node/db/stages.cpp
  silkworm/node/snapshot/sync.cpp
  silkworm/node/stagedsync/_test.cpp
  silkworm/node/stagedsync/stage_blockhashes.cpp
  silkworm/node/stagedsync/stage_execution.cpp
  silkworm/node/stagedsync/stage_hashstate.cpp
  silkworm/node/stagedsync/stage_history_index.cpp
  silkworm/node/stagedsync/stage_history_index_test.cpp
  silkworm/node/stagedsync/stage_interhashes.cpp
  silkworm/node/stagedsync/stage_interhashes/_test.cpp
  silkworm/node/stagedsync/stage_interhashes/trie_loader.cpp
  silkworm/node/stagedsync/stage_interhashes/trie_loader.hpp
  silkworm/node/stagedsync/stage_log_index.cpp
  silkworm/node/stagedsync/stage_senders.cpp
  silkworm/node/stagedsync/stage_tx_lookup.cpp
  silkworm/node/stagedsync/stage_tx_lookup_test.cpp
Labels: maintenance

#902 build: fix CMake variable for build as submodule
  silkworm/core/CMakeLists.txt
  silkworm/node/CMakeLists.txt
  silkworm/sentry/CMakeLists.txt
  silkworm/sync/CMakeLists.txt
Labels: maintenance

#903 node: add database cursor hierarchy
  cmd/check_changes.cpp
  cmd/scan_txs.cpp
  cmd/toolbox.cpp
  silkworm/node/db/access_layer.cpp
  silkworm/node/db/access_layer.hpp
  silkworm/node/db/access_layer_test.cpp
  silkworm/node/db/bitmap.cpp
  silkworm/node/db/buffer.cpp
  silkworm/node/db/buffer.hpp
  silkworm/node/db/buffer_test.cpp
  silkworm/node/db/db_utils.cpp
  silkworm/node/db/db_utils.hpp
  silkworm/node/db/db_utils_test.cpp
  silkworm/node/db/mdbx.cpp
  silkworm/node/db/mdbx.hpp
  silkworm/node/db/tables.hpp
  silkworm/node/db/util.cpp
  silkworm/node/db/util.hpp
  silkworm/node/etl/collector.cpp
  silkworm/node/etl/collector.hpp
  silkworm/node/etl/collector_test.cpp
  silkworm/node/recsplit/rec_split.hpp
  silkworm/node/stagedsync/_test.cpp
  silkworm/node/stagedsync/stage_execution.cpp
  silkworm/node/stagedsync/stage_execution.hpp
  silkworm/node/stagedsync/stage_hashstate.cpp
  silkworm/node/stagedsync/stage_interhashes/_test.cpp
  silkworm/node/stagedsync/stage_interhashes/trie_cursor.cpp
  silkworm/node/stagedsync/stage_interhashes/trie_cursor.hpp
  silkworm/node/stagedsync/stage_senders.cpp
Labels: maintenance

#905 node: refactor database cursor creations to use factory methods
  cmd/check_senders.cpp
  silkworm/node/backend/rpc/kv_calls.cpp
  silkworm/node/backend/rpc/kv_calls.hpp
  silkworm/node/db/buffer_test.cpp
  silkworm/node/db/mdbx.cpp
  silkworm/node/db/mdbx.hpp
  silkworm/node/db/memory_mutation.cpp
  silkworm/node/db/memory_mutation.hpp
  silkworm/node/db/memory_mutation_cursor.cpp
  silkworm/node/db/memory_mutation_cursor.hpp
  silkworm/node/db/memory_mutation_test.cpp
Labels: memory-mutation

#909 node: add to_first API implementation in memory mutation
  silkworm/node/db/memory_mutation.cpp
  silkworm/node/db/memory_mutation.hpp
  silkworm/node/db/memory_mutation_cursor.cpp
  silkworm/node/db/memory_mutation_cursor.hpp
  silkworm/node/db/memory_mutation_cursor_test.cpp
  silkworm/node/db/memory_mutation_test.cpp
Labels: memory-mutation

#910 node: add to_last API implementation in memory mutation
  silkworm/node/db/memory_mutation_cursor.cpp
  silkworm/node/db/memory_mutation_cursor.hpp
  silkworm/node/db/memory_mutation_cursor_test.cpp
Labels: memory-mutation

#911 node: add current API implementation in memory mutation
  silkworm/node/db/memory_mutation_cursor.cpp
  silkworm/node/db/memory_mutation_cursor_test.cpp
Labels: memory-mutation

#912 sync: fork-choice-update first implementation
  silkworm/node/stagedsync/execution_engine.cpp
  silkworm/node/stagedsync/execution_engine.hpp
  silkworm/sync/engine_apis/structs.hpp
  silkworm/sync/sync_engine_pos.cpp
  silkworm/sync/sync_engine_pos.hpp
Labels: pos-sync

#919 rpcdaemon: add CMake option to enable mimalloc usage
  .circleci/config.yml
  CMakeLists.txt
  cmd/rpcdaemon/CMakeLists.txt
  conanfile.txt
  silkworm/silkrpc/CMakeLists.txt
Labels: rpcdaemon

#914 rpcdaemon: add ots_getBlockDetails and ots_getBlockDetailsByHash
  silkworm/silkrpc/commands/ots_api.cpp
  silkworm/silkrpc/commands/ots_api.hpp
  silkworm/silkrpc/commands/rpc_api_table.cpp
  silkworm/silkrpc/http/methods.hpp
  silkworm/silkrpc/json/types.cpp
  silkworm/silkrpc/json/types.hpp
  silkworm/silkrpc/types/block.cpp
  silkworm/silkrpc/types/block.hpp
  tests/integration/goerly/ots_getBlockDetails/test_01.json
  tests/integration/goerly/ots_getBlockDetailsByHash/test_1.json
Labels: rpc-api

#920 node: add to_current_next_multi + to_next_first_multi API in memory mutation
  silkworm/node/db/memory_mutation_cursor.cpp
  silkworm/node/db/memory_mutation_cursor.hpp
  silkworm/node/db/memory_mutation_cursor_test.cpp
Labels: memory-mutation

#929 rpcdaemon: improve CBOR decoding
  silkworm/silkrpc/CMakeLists.txt
  silkworm/silkrpc/ethdb/cbor.cpp
  silkworm/silkrpc/ethdb/cbor_test.cpp
Labels: performance

#922 rpcdaemon: add eth_getFilterChanges implementation
  silkworm/silkrpc/commands/debug_api_test.cpp
  silkworm/silkrpc/commands/eth_api.cpp
  silkworm/silkrpc/commands/eth_api.hpp
  silkworm/silkrpc/commands/rpc_api_table.cpp
  silkworm/silkrpc/commands/trace_api_test.cpp
  silkworm/silkrpc/concurrency/context_pool.cpp
  silkworm/silkrpc/concurrency/context_pool.hpp
  silkworm/silkrpc/concurrency/context_pool_test.cpp
  silkworm/silkrpc/core/filter_storage.cpp
  silkworm/silkrpc/core/filter_storage.hpp
  silkworm/silkrpc/core/filter_storage_test.cpp
  silkworm/silkrpc/http/methods.hpp
  silkworm/silkrpc/json/types.cpp
  silkworm/silkrpc/json/types_test.cpp
  silkworm/silkrpc/test/context_test_base.cpp
  silkworm/silkrpc/types/filter.hpp
Labels: rpc-api

#935 API: include implemented filter methods
  silkworm/silkrpc/API.md
Labels: documentation

#939 rpcdaemon: eth_getLogs format via glaze
  silkworm/silkrpc/commands/eth_api.cpp
  silkworm/silkrpc/commands/eth_api.hpp
  silkworm/silkrpc/commands/rpc_api_table.cpp
  silkworm/silkrpc/commands/rpc_api_table.hpp
  silkworm/silkrpc/http/connection.cpp
  silkworm/silkrpc/http/request_handler.cpp
  silkworm/silkrpc/http/request_handler.hpp
  silkworm/silkrpc/json/types.cpp
  silkworm/silkrpc/json/types.hpp
  silkworm/silkrpc/types/log.hpp
  tests/integration/goerly/eth_getLogs/test_20.json
Labels: rpc-api
