Repository erigontech/silkworm, pull requests merged in 2024-11, with the labels that each got.

#2471 rpcdaemon: get_block_number_from_txn_hash returns optional
  silkworm/db/chain/providers.hpp
  silkworm/db/chain/remote_chain_storage_test.cpp
  silkworm/db/kv/grpc/client/remote_client_test.cpp
  silkworm/db/kv/state_changes_stream_test.cpp
  silkworm/rpc/ethbackend/backend.hpp
  silkworm/rpc/ethbackend/remote_backend.cpp
  silkworm/rpc/ethbackend/remote_backend.hpp
  silkworm/rpc/ethbackend/remote_backend_test.cpp
  silkworm/rpc/ethdb/kv/backend_providers.hpp
  silkworm/rpc/test_util/mock_back_end.hpp
Labels: maintenance, erigon3

#2465 rpcdaemon: implement eth_baseFee + eth_blobBaseFee
  .github/workflows/run_integration_tests.sh
  docs/JSON-RPC-API.md
  silkworm/rpc/commands/eth_api.cpp
  silkworm/rpc/commands/eth_api.hpp
  silkworm/rpc/commands/rpc_api_table.cpp
  silkworm/rpc/json_rpc/methods.hpp
Labels: json rpc api, cancun

#2469 rpcdaemon: ots_getTransactionBySenderAndNonce for e3
  .github/workflows/run_integration_tests.sh
  silkworm/db/tables.hpp
  silkworm/rpc/commands/eth_api.cpp
  silkworm/rpc/commands/ots_api.cpp
Labels: json rpc api, erigon3

#2474 sync: remove singleton from core
  silkworm/sync/block_exchange.cpp
  silkworm/sync/internals/body_sequence.cpp
  silkworm/sync/internals/header_chain.cpp
  silkworm/sync/internals/random_number.hpp
  silkworm/sync/messages/inbound_new_block.cpp
  silkworm/sync/messages/inbound_new_block_hashes.cpp
Labels: maintenance

#2482 bor.proto codegen target fix
  silkworm/interfaces/3.21.12/remote/bor.grpc.pb.cc
  silkworm/interfaces/3.21.12/remote/bor.grpc.pb.h
  silkworm/interfaces/3.21.12/remote/bor.pb.cc
  silkworm/interfaces/3.21.12/remote/bor.pb.h
  silkworm/interfaces/3.21.12/remote/bor_mock.grpc.pb.h
  silkworm/interfaces/generate_grpc.cmake
  third_party/clang-tidy/clang-tidy-diff.sh
Labels: maintenance

#2475 db: always pass TemporaryDirectory to TestDatabaseContext
  silkworm/capi/silkworm_test.cpp
  silkworm/db/kv/api/local_cursor_test.cpp
  silkworm/db/test_util/test_database_context.cpp
  silkworm/db/test_util/test_database_context.hpp
  silkworm/node/stagedsync/stages_test.cpp
  silkworm/rpc/commands/rpc_api_test.cpp
Labels: maintenance

#2486 ci: fix clang tidy after PR 2475
  silkworm/capi/silkworm_test.cpp
Labels: maintenance

#2477 rpcdaemon: page_token management in Data API Range ops
  silkworm/db/kv/api/endpoint/paginated_sequence.hpp
  silkworm/db/kv/api/endpoint/paginated_sequence_benchmark.cpp
  silkworm/db/kv/api/endpoint/paginated_sequence_test.cpp
  silkworm/db/kv/api/local_transaction.cpp
  silkworm/db/kv/grpc/client/remote_transaction.cpp
  silkworm/rpc/test_util/dummy_transaction.hpp
Labels: maintenance, erigon3

#2478 rpcdaemon: fix canonical body for storage provider not found key
  .github/workflows/run_integration_tests.sh
  silkworm/db/kv/txn_num.cpp
  silkworm/db/kv/txn_num_test.cpp
Labels: maintenance, erigon3

#2483 integration: update rpc-tests to v1.7.0
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
Labels: integration testing

#2492 rpcdaemon: add blobGasUsedRatio in eth_feeHistory
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
  silkworm/rpc/core/fee_history_oracle.cpp
Labels: json rpc api, cancun

#2488 rpcdaemon: check transaction nonce in ots_getTransactionBySenderAndNonce
  silkworm/rpc/commands/ots_api.cpp
Labels: maintenance, erigon3

#2490 rpcdaemon: remove parity_getBlockReceipts
  .github/workflows/rpc-integration-tests.yml
  docs/JSON-RPC-API.md
  silkworm/rpc/commands/eth_api.cpp
  silkworm/rpc/commands/eth_api.hpp
  silkworm/rpc/commands/parity_api.cpp
  silkworm/rpc/commands/parity_api.hpp
  silkworm/rpc/commands/rpc_api_table.cpp
  silkworm/rpc/json_rpc/methods.hpp
Labels: json rpc api

#2487 rpcdaemon: total_difficulty in eth_getBlockBy[Number|Hash] if present in db
  .github/workflows/rpc-integration-tests.yml
  silkworm/db/chain/chain.cpp
  silkworm/db/chain/chain.hpp
  silkworm/db/chain/chain_test.cpp
  silkworm/rpc/commands/eth_api.cpp
  silkworm/rpc/json/block.cpp
  silkworm/rpc/types/block.hpp
Labels: maintenance, json rpc api

#2468 rpcdaemon: debug_getModifiedAccountsBy[Number|Hash] for E3
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
  silkworm/db/kv/api/endpoint/temporal_range.hpp
  silkworm/infra/grpc/client/call.hpp
  silkworm/rpc/commands/debug_api.cpp
  silkworm/rpc/commands/debug_api_test.cpp
Labels: json rpc api, erigon3

#2491 datastore: EntityName replaces SnapshotType
  cmd/dev/snapshots.cpp
  silkworm/capi/silkworm.cpp
  silkworm/capi/silkworm_test.cpp
  silkworm/db/access_layer.cpp
  silkworm/db/blocks/bodies/body_index.hpp
  silkworm/db/blocks/bodies/body_queries.hpp
  silkworm/db/blocks/headers/header_index.hpp
  silkworm/db/blocks/schema_config.cpp
  silkworm/db/blocks/schema_config.hpp
  silkworm/db/blocks/transactions/txn_index.hpp
  silkworm/db/blocks/transactions/txn_to_block_index.hpp
  silkworm/db/datastore/snapshot_merger.cpp
  silkworm/db/datastore/snapshots/CMakeLists.txt
  silkworm/db/datastore/snapshots/common/snapshot_path.cpp
  silkworm/db/datastore/snapshots/common/snapshot_path.hpp
  silkworm/db/datastore/snapshots/common/snapshot_path_test.cpp
  silkworm/db/datastore/snapshots/common/snapshot_type.hpp
  silkworm/db/datastore/snapshots/config/config_test.cpp
  silkworm/db/datastore/snapshots/kv_segment/kv_segment_test.cpp
  silkworm/db/datastore/snapshots/schema.cpp
  silkworm/db/datastore/snapshots/schema.hpp
  silkworm/db/datastore/snapshots/segment/segment_test.cpp
  silkworm/db/datastore/snapshots/snapshot_bundle.cpp
  silkworm/db/datastore/snapshots/snapshot_bundle.hpp
  silkworm/db/datastore/snapshots/snapshot_bundle_factory.hpp
  silkworm/db/datastore/snapshots/snapshot_repository.cpp
  silkworm/db/datastore/snapshots/snapshot_repository.hpp
  silkworm/db/freezer.cpp
  silkworm/db/snapshot_bundle_factory_impl.cpp
  silkworm/db/snapshot_bundle_factory_impl.hpp
  silkworm/db/snapshot_recompress.cpp
  silkworm/db/snapshot_repository_test.cpp
  silkworm/db/snapshot_sync.cpp
  silkworm/db/snapshot_test.cpp
  silkworm/db/test_util/temp_snapshots.hpp
Labels: snapshots, erigon3

#2497 ci: fix TSAN and clang tidy after PR 2491
  silkworm/db/datastore/snapshots/snapshot_bundle.cpp
  silkworm/db/datastore/snapshots/snapshot_bundle.hpp
  silkworm/db/snapshot_bundle_factory_impl.hpp
  silkworm/rpc/commands/debug_api.cpp
  silkworm/rpc/commands/debug_api_test.cpp
  silkworm/rpc/commands/web3_api_test.cpp
  silkworm/rpc/core/evm_executor_test.cpp
  silkworm/sync/sync_pos_test.cpp
Labels: maintenance

#2496 integration: update rpc-tests to v1.12.0
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
Labels: maintenance, integration testing

#2494 datastore: state repository schema
  cmd/dev/snapshots.cpp
  silkworm/capi/silkworm.cpp
  silkworm/db/access_layer.cpp
  silkworm/db/blocks/blocks_index_builders_factory.cpp
  silkworm/db/blocks/blocks_index_builders_factory.hpp
  silkworm/db/blocks/bodies/body_queries.hpp
  silkworm/db/blocks/schema_config.cpp
  silkworm/db/blocks/schema_config.hpp
  silkworm/db/blocks/transactions/txn_to_block_index.hpp
  silkworm/db/data_store.hpp
  silkworm/db/datastore/domain.hpp
  silkworm/db/datastore/history.hpp
  silkworm/db/datastore/inverted_index.hpp
  silkworm/db/datastore/snapshot_merger.cpp
  silkworm/db/datastore/snapshots/common/snapshot_path.hpp
  silkworm/db/datastore/snapshots/domain.hpp
  silkworm/db/datastore/snapshots/history.hpp
  silkworm/db/datastore/snapshots/index_builders_factory.cpp
  silkworm/db/datastore/snapshots/index_builders_factory.hpp
  silkworm/db/datastore/snapshots/inverted_index.hpp
  silkworm/db/datastore/snapshots/schema.cpp
  silkworm/db/datastore/snapshots/schema.hpp
  silkworm/db/datastore/snapshots/snapshot_bundle.cpp
  silkworm/db/datastore/snapshots/snapshot_bundle.hpp
  silkworm/db/datastore/snapshots/snapshot_repository.cpp
  silkworm/db/datastore/snapshots/snapshot_repository.hpp
  silkworm/db/freezer.cpp
  silkworm/db/snapshot_recompress.cpp
  silkworm/db/snapshot_repository_test.cpp
  silkworm/db/snapshot_sync.cpp
  silkworm/db/snapshot_test.cpp
  silkworm/db/state/schema_config.cpp
  silkworm/db/state/schema_config.hpp
  silkworm/db/state/state_index_builders_factory.cpp
  silkworm/db/state/state_index_builders_factory.hpp
Labels: snapshots, erigon3

#2511 ci: fix unit test failure propagation
  .github/workflows/run_integration_tests.sh
  .github/workflows/start_integration_rpcdaemon.sh
  .github/workflows/stop_integration_rpcdaemon.sh
  cmake/parallel_jobs_count.sh
  cmake/run_smoke_tests.sh
  cmake/run_unit_tests.sh
  cmake/setup/compiler_install.sh
  tests/docker/run-docker.sh
  tests/perf/run_with_perf.sh
  tests/perf/run_with_toplev.sh
  tests/perf/vegeta_attack_getLogs_rpcdaemon.sh
  tests/perf/vegeta_attack_getLogs_silkrpc.sh
  tools/lint/log_macros_fix.sh
Labels: bug

#2508 rpcdaemon: update test list (parity_listStorageKeys, ots_getTransactionBySenderAndNonce)
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
Labels: maintenance, erigon3

#2507 snapshots: e3 path format
  silkworm/db/datastore/snapshots/common/snapshot_path.cpp
  silkworm/db/datastore/snapshots/common/snapshot_path.hpp
  silkworm/db/datastore/snapshots/common/snapshot_path_test.cpp
  silkworm/db/datastore/snapshots/kv_segment/kv_segment_test.cpp
  silkworm/db/datastore/snapshots/schema.cpp
  silkworm/db/datastore/snapshots/schema.hpp
  silkworm/db/datastore/snapshots/segment/segment_test.cpp
  silkworm/db/datastore/snapshots/snapshot_repository.cpp
  silkworm/db/snapshot_test.cpp
Labels: snapshots, erigon3

#2510 sync: refactor MockBlockExchange for PoSSyncTest
  silkworm/db/test_util/mock_chain_storage.hpp
  silkworm/sync/block_exchange.hpp
  silkworm/sync/chain_sync.cpp
  silkworm/sync/chain_sync.hpp
  silkworm/sync/sync_pos.cpp
  silkworm/sync/sync_pos.hpp
  silkworm/sync/sync_pos_test.cpp
  silkworm/sync/sync_pow.cpp
  silkworm/sync/sync_pow.hpp
  silkworm/sync/test_util/mock_block_exchange.hpp
Labels: maintenance, pos sync

#2513 rpcdaemon: add blob gas fields in receipt
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
  silkworm/rpc/core/receipts.cpp
  silkworm/rpc/core/receipts.hpp
  silkworm/rpc/json/receipt.cpp
  silkworm/rpc/types/receipt.hpp
Labels: maintenance, cancun

#2495 Implement EIP-2935
  silkworm/core/protocol/merge_rule_set.cpp
  silkworm/core/protocol/param.hpp
Labels: pectra

#2517 rpcdaemon: erigon_getBalanceChanges for e3
  .github/workflows/run_integration_tests.sh
  silkworm/rpc/core/block_reader.cpp
  silkworm/rpc/core/block_reader.hpp
Labels: json rpc api, erigon3

#2509 snapshots: more state schema configurations
  silkworm/db/blocks/blocks_index_builders_factory.cpp
  silkworm/db/blocks/schema_config.hpp
  silkworm/db/datastore/snapshot_merger.cpp
  silkworm/db/datastore/snapshots/schema.cpp
  silkworm/db/datastore/snapshots/schema.hpp
  silkworm/db/datastore/snapshots/segment/segment_reader.cpp
  silkworm/db/datastore/snapshots/segment/segment_reader.hpp
  silkworm/db/datastore/snapshots/segment/segment_writer.cpp
  silkworm/db/datastore/snapshots/segment/segment_writer.hpp
  silkworm/db/datastore/snapshots/snapshot_bundle.cpp
  silkworm/db/datastore/snapshots/snapshot_bundle.hpp
  silkworm/db/datastore/snapshots/snapshot_repository.cpp
  silkworm/db/datastore/snapshots/snapshot_repository.hpp
  silkworm/db/state/schema_config.cpp
  silkworm/db/state/schema_config.hpp
Labels: snapshots, erigon3

#2514 rpcdaemon: debug_storageRangeAt for e3
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
  silkworm/db/tables.hpp
  silkworm/rpc/commands/debug_api.cpp
  silkworm/rpc/core/storage_walker.cpp
  silkworm/rpc/core/storage_walker.hpp
  silkworm/rpc/core/storage_walker_test.cpp
Labels: json rpc api, erigon3

#2519 db: fix copy/move semantics for TKV iterators
  silkworm/db/kv/api/endpoint/paginated_sequence.hpp
  silkworm/db/kv/api/endpoint/paginated_sequence_test.cpp
Labels: maintenance, erigon3

#2525 ci: force system-wide python packages for Integration Tests
  .github/workflows/rpc-integration-tests.yml
Labels: maintenance, integration testing

#2528 ci: fix clang tidy after PRs 2518 & 2476
  silkworm/core/types/eip_7685_requests.cpp
  silkworm/db/datastore/snapshots/btree/btree_index.cpp
  silkworm/db/datastore/snapshots/btree/btree_index.hpp
  silkworm/infra/common/environment.cpp
  silkworm/infra/common/environment.hpp
  silkworm/infra/common/environment_test.cpp
  silkworm/rpc/json/authorization.hpp
Labels: maintenance

#2526 snapshots: RAII open of snapshot files
  cmd/capi/execute.cpp
  cmd/dev/snapshots.cpp
  silkworm/capi/silkworm_test.cpp
  silkworm/db/blocks/bodies/body_txs_amount_query_test.cpp
  silkworm/db/blocks/transactions/txn_index.cpp
  silkworm/db/blocks/transactions/txs_and_bodies_query.cpp
  silkworm/db/datastore/snapshot_merger.cpp
  silkworm/db/datastore/snapshots/btree/btree_index_test.cpp
  silkworm/db/datastore/snapshots/common/snapshot_path_test.cpp
  silkworm/db/datastore/snapshots/domain.hpp
  silkworm/db/datastore/snapshots/index_builder.cpp
  silkworm/db/datastore/snapshots/rec_split/accessor_index.cpp
  silkworm/db/datastore/snapshots/rec_split/accessor_index.hpp
  silkworm/db/datastore/snapshots/rec_split/rec_split.hpp
  silkworm/db/datastore/snapshots/segment/kv_segment_reader.cpp
  silkworm/db/datastore/snapshots/segment/kv_segment_reader.hpp
  silkworm/db/datastore/snapshots/segment/kv_segment_test.cpp
  silkworm/db/datastore/snapshots/segment/seg/decompressor.cpp
  silkworm/db/datastore/snapshots/segment/seg/decompressor.hpp
  silkworm/db/datastore/snapshots/segment/seg/seg_zip.cpp
  silkworm/db/datastore/snapshots/segment/segment_reader.cpp
  silkworm/db/datastore/snapshots/segment/segment_reader.hpp
  silkworm/db/datastore/snapshots/segment/segment_test.cpp
  silkworm/db/datastore/snapshots/snapshot_bundle.cpp
  silkworm/db/datastore/snapshots/snapshot_bundle.hpp
  silkworm/db/snapshot_benchmark.cpp
  silkworm/db/snapshot_decompressor_test.cpp
  silkworm/db/snapshot_recompress.cpp
  silkworm/db/snapshot_sync_test.cpp
  silkworm/db/snapshot_test.cpp
  silkworm/infra/common/memory_mapped_file.cpp
  silkworm/infra/common/memory_mapped_file.hpp
Labels: snapshots, erigon3

#2521 rpcdaemon: replace History names w/ Domain names
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
  silkworm/db/tables.hpp
  silkworm/rpc/commands/debug_api.cpp
  silkworm/rpc/commands/debug_api_test.cpp
  silkworm/rpc/commands/engine_api.hpp
  silkworm/rpc/commands/eth_api.cpp
  silkworm/rpc/commands/eth_api_test.cpp
  silkworm/rpc/commands/ots_api.cpp
  silkworm/rpc/commands/parity_api.cpp
  silkworm/rpc/commands/rpc_api.hpp
  silkworm/rpc/commands/rpc_api_table.hpp
  silkworm/rpc/commands/rpc_api_test.cpp
  silkworm/rpc/common/constants.hpp
  silkworm/rpc/common/tee.hpp
  silkworm/rpc/common/util.cpp
  silkworm/rpc/common/util.hpp
  silkworm/rpc/core/account_dumper.hpp
  silkworm/rpc/core/account_walker.hpp
  silkworm/rpc/core/block_reader.cpp
  silkworm/rpc/core/call_many.hpp
  silkworm/rpc/core/evm_debug_test.cpp
  silkworm/rpc/core/evm_executor_test.cpp
  silkworm/rpc/core/gas_price_oracle.hpp
  silkworm/rpc/core/override_state.hpp
  silkworm/rpc/core/storage_walker.cpp
  silkworm/rpc/core/storage_walker.hpp
  silkworm/rpc/ethbackend/remote_backend.hpp
  silkworm/rpc/ethdb/split_cursor.hpp
  silkworm/rpc/http/jwt_test.cpp
  silkworm/rpc/http/server.cpp
  silkworm/rpc/json/access_list_entry.cpp
  silkworm/rpc/json/block.cpp
  silkworm/rpc/json/call.cpp
  silkworm/rpc/json/call_bundle.cpp
  silkworm/rpc/json/call_test.cpp
  silkworm/rpc/json/filter.cpp
  silkworm/rpc/json/fork_choice.cpp
  silkworm/rpc/json/log.cpp
  silkworm/rpc/json/stream.cpp
  silkworm/rpc/json/stream_test.cpp
  silkworm/rpc/json/transaction.cpp
  silkworm/rpc/json/types.hpp
Labels: maintenance, erigon3

#2524 rpcdaemon: debug_accountAt for e3
  silkworm/rpc/commands/debug_api.cpp
Labels: json rpc api, erigon3

#2529 ci: do not report duplicate clang-tidy warnings in .hpp files
  tools/lint/clang_tidy_report.sh
Labels: maintenance

#2531 rpcdaemon: fix container-overflow detected by fuzzer on eth_feeHistory
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
  silkworm/rpc/core/fee_history_oracle.cpp
Labels: maintenance

#2534 rpcdaemon: ots_getContractCreator for e3
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
  silkworm/rpc/commands/ots_api.cpp
  silkworm/rpc/core/evm_trace.cpp
Labels: json rpc api, erigon3

#2535 db: split internal TKV get_latest method to match e3
  cmake/run_unit_tests.sh
  cmd/dev/grpc_toolbox.cpp
  silkworm/db/kv/api/endpoint/temporal_point.hpp
  silkworm/db/kv/api/local_transaction.cpp
  silkworm/db/kv/api/local_transaction.hpp
  silkworm/db/kv/api/transaction.hpp
  silkworm/db/kv/grpc/client/endpoint/temporal_point.cpp
  silkworm/db/kv/grpc/client/endpoint/temporal_point.hpp
  silkworm/db/kv/grpc/client/endpoint/temporal_point_test.cpp
  silkworm/db/kv/grpc/client/remote_transaction.cpp
  silkworm/db/kv/grpc/client/remote_transaction.hpp
  silkworm/db/kv/grpc/client/remote_transaction_test.cpp
  silkworm/db/kv/grpc/test_util/sample_protos.hpp
  silkworm/db/state/remote_state_test.cpp
  silkworm/db/state/state_reader.cpp
  silkworm/db/state/state_reader_test.cpp
  silkworm/db/test_util/mock_transaction.hpp
  silkworm/rpc/commands/debug_api.cpp
  silkworm/rpc/commands/debug_api_test.cpp
  silkworm/rpc/core/account_dumper_test.cpp
  silkworm/rpc/core/account_walker_test.cpp
  silkworm/rpc/core/evm_debug_test.cpp
  silkworm/rpc/core/evm_executor_test.cpp
  silkworm/rpc/core/evm_trace_test.cpp
  silkworm/rpc/core/storage_walker_test.cpp
  silkworm/rpc/test_util/dummy_transaction.hpp
Labels: maintenance, erigon3

#2538 snapshots: add state_repository to DataStoreRef
  cmd/capi/execute.cpp
  cmd/dev/db_toolbox.cpp
  silkworm/capi/fork_validator.cpp
  silkworm/capi/instance.hpp
  silkworm/capi/rpcdaemon.cpp
  silkworm/capi/silkworm.cpp
  silkworm/db/access_layer.cpp
  silkworm/db/access_layer.hpp
  silkworm/db/blocks/blocks_index_builders_factory.cpp
  silkworm/db/blocks/transactions/txn_queries.hpp
  silkworm/db/data_store.cpp
  silkworm/db/data_store.hpp
  silkworm/db/datastore/snapshots/schema.cpp
  silkworm/db/datastore/snapshots/schema.hpp
  silkworm/db/datastore/snapshots/snapshot_bundle.cpp
  silkworm/db/kv/api/local_transaction.cpp
  silkworm/db/snapshot_repository_test.cpp
  silkworm/db/snapshot_sync.cpp
  silkworm/db/snapshot_sync.hpp
  silkworm/db/snapshot_sync_test.cpp
  silkworm/db/state/local_state.hpp
  silkworm/db/test_util/temp_chain_data.hpp
  silkworm/db/test_util/test_database_context.hpp
  silkworm/sync/messages/inbound_get_block_headers.cpp
Labels: snapshots, erigon3

#2539 rpcdaemon: debug_accountRange for e3
  .github/workflows/run_integration_tests.sh
  silkworm/core/common/empty_hashes.hpp
  silkworm/rpc/core/account_dumper.cpp
  silkworm/rpc/core/account_dumper.hpp
  silkworm/rpc/core/account_walker.cpp
  silkworm/rpc/core/account_walker.hpp
  silkworm/rpc/core/account_walker_test.cpp
  silkworm/rpc/core/storage_walker.cpp
  silkworm/rpc/core/storage_walker.hpp
  silkworm/rpc/core/storage_walker_test.cpp
Labels: json rpc api, erigon3

#2540 rpcdaemon: update skip list on debug_traceCallMany
  .github/workflows/rpc-integration-tests.yml
  .github/workflows/run_integration_tests.sh
Labels: integration testing, erigon3

#2541 core: add Constantinople EEST tests and fix test_recreate
  cmd/test/ethereum.cpp
  silkworm/core/execution/evm_test.cpp
  silkworm/core/state/in_memory_state.cpp
  third_party/execution-spec-tests/BlockchainTests/constantinople/eip1014_create2/create_returndata/create2_return_data.json
  third_party/execution-spec-tests/BlockchainTests/constantinople/eip1014_create2/recreate/recreate.json
Labels: maintenance, spec testing

#2543 rpc: assertion on key size in parity_listStorageKeys
  silkworm/rpc/commands/parity_api.cpp
Labels: maintenance
